@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-dark-secondary;
}
p {
  @apply text-light-gray1;
}
body {
  @apply bg-secondary;
}
.containers {
  @apply container mx-auto px-4;
}

.button-primary {
  padding: 18px 79px 18px 29px;
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 35px;
  @apply text-primary;
  font-size: 18px;
}
.button-primary .button-icon {
  @apply absolute top-0 right-0 bg-primary p-5;
  border-radius: 0px 30px 30px 30px;
}
.button-primary .button-icon img {
  @apply w-6 h-6;
}

.button-secondary {
  padding: 18px 40px;
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%) 0% 0%;
  border-radius: 35px;
  @apply text-primary;
  font-size: 18px;
}
.button-tartary {
  padding: 18px 40px;
  border-radius: 35px;
  @apply text-white bg-primary;
  font-size: 18px;
}

/*PAGE TITLE*/
.page-title {
  @apply py-11 md:py-20;
}
.page-title h1 {
  @apply text-2xl sm:text-4xl md:text-5xl;
}
/*HEADER CSS*/
.header .header-logo {
  width: 69px;
  height: 65px;
}
.header ul li {
  @apply text-base flex flex-col justify-center h-full;
}
.header ul a {
  @apply text-dark-secondary;
}
.header ul li:not(:last-child) {
  margin-right: 30px;
}
.header ul li:last-child {
  padding-left: 30px;
  border-left: 1px solid #e6efff;
}
.header ul li button {
  @apply text-base;
  padding: 12px 59px 12px 26px;
}
.header ul li .button-primary .button-icon {
  padding: 13px 14px;
}
.header ul li .button-primary img {
  width: 18px;
  height: 21px;
}

.menu-toggle {
  @apply w-8 h-5 flex flex-col cursor-pointer justify-between mt-5;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 300ms ease;
}
.menu-toggle span {
  @apply h-1 w-3 bg-dark;
  transition: width 200ms ease;
}
.menu-toggle span:nth-child(1) {
  width: 80%;
  transition-delay: 200ms;
}
.menu-toggle span:nth-child(2) {
  width: 100%;
}
.menu-toggle span:nth-child(3) {
  width: 60%;
  transition-delay: 400ms;
}
.menu-toggle span:nth-child(4) {
  position: absolute;
  @apply left-1/2 block w-1 h-0;
  top: -6px;
  transform: translateX(-50%);
  transition: height 400ms;
}
.menu-active {
  transform: translate(-50%, -50%) rotate(45deg);
  transition-delay: 400ms;
}
.menu-toggle.menu-active span:nth-child(1) {
  width: 0;
  transition: 200ms ease;
}
.menu-toggle.menu-active span:nth-child(3) {
  width: 0;
  transition: 200ms ease;
  transition-delay: 150ms;
}
.menu-toggle.menu-active span:nth-child(4) {
  @apply h-8;
  transition: height 200ms ease;
  transition-delay: 200ms;
}

.header .main-menu.menu-show {
  @apply absolute flex flex-col w-full items-start bg-white px-4;
  top: 118%;
  transition: 200ms ease;
}
.header .main-menu.menu-show li {
  margin: 0 !important;
  border: none;
  @apply p-3 w-full block;
}
.header .main-menu.menu-show li:not(:last-child) {
  border-bottom: 1px solid #e6efff;
}

/*COMPANIES*/
.companies .filter-item select {
  @apply w-full bg-secondary border border-solid p-2 rounded-lg mb-5 text-light-gray1;
}
.companies .filter-item p {
  @apply pb-4 text-sm;
}
.companies .filter-item select:focus {
  outline: none;
}
.companies .filter-item input {
  @apply w-full;
}
.companies .category {
  font-size: 14px;
  @apply mb-3 sm:mb-5;
}
.companies .category span {
  padding: 2px 10px;
  border-radius: 5px;
  @apply bg-primary text-white font-bold ml-2;
}

.social {
  @apply flex gap-3 mb-3 sm:mb-0;
}

.social li a,
.single-icon a {
  background-color: #e6efff;
  transition: all 0.5s;
  @apply rounded w-6 h-6 p-1 text-primary inline-block leading-none;
}
.social li a:hover,
.single-icon a:hover {
  background: transparent linear-gradient(90deg, #0069ff 0%, #7c3aed 100%) 0% 0%;
  transition: all 0.5s;
  @apply text-white;
}

.consultants-info {
  @apply xl:flex justify-between items-start;
}
.consultants-info .button-primary {
  @apply py-2 lg:py-3 px-3 lg:px-5 text-sm lg:text-base inline-block;
}

/*MAKE AN APPOINTMENT*/
.appointment .progress {
  @apply flex  md:items-center justify-around relative flex-wrap xsmin:flex-nowrap;
}
.appointment .progress::after {
  content: "";
  top: 70px;
  left: 18%;
  width: 66%;
  @apply absolute border border-dashed hidden sm:block;
}
.appointment .progress .progress-content {
  @apply flex items-center flex-col z-10 w-1/2 sm:w-auto xs:mb-2;
}
.appointment .progress .progress-item {
  @apply flex items-center w-16 md:w-20 lg:w-32 h-16 md:h-20 lg:h-32 rounded-full border border-solid border-gallery justify-center;
}
.appointment .progress .progress-item span {
  letter-spacing: 1.08px;
  @apply w-10 md:w-16 lg:w-24 h-10 md:h-16 lg:h-24 rounded-full flex items-center justify-center text-white text-lg md:text-2xl lg:text-3xl font-bold bg-gallery;
}
.appointment .progress .progress-item.active {
  @apply border-primary bg-white;
}
.appointment .progress .progress-item.active span {
  background: transparent linear-gradient(90deg, #0069ff 0%, #7c3aed 100%) 0% 0%;
}
.appointment .tags {
  margin-left: 20px;
}

.appointment table {
  border-collapse: collapse;
  width: 100%;
}
.appointment th {
  @apply font-bold text-dark-secondary bg-inherit  text-xs sm:text-base;
}
.appointment td {
  @apply text-light-gray1 font-semibold text-xs sm:text-base;
}
.appointment th,
.appointment td {
  @apply text-center p-1 sm:p-4;
}
.appointment td {
  @apply w-full rounded mb-1 sm:mb-3;
  background-color: #f9e7e9;
}
.appointment td.available {
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%);
}
.appointment tr {
  @apply grid gap-1 sm:gap-3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .appointment .progress::after {
    top: 40px;
  }
}

@media screen and (max-width: 448px) {
  .appointment .calender {
    overflow-x: scroll;
  }
  .appointment .calender table {
    width: 334px;
  }
  .appointment .progress::after {
    top: 30px;
  }
}

.appointment .tags ul {
  @apply xsmin:flex gap-10 mt-5;
}
.appointment .tags ul li {
  @apply relative xs:mb-2;
}
.appointment .tags ul li.available::before {
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%);
}
.appointment .tags ul li::before {
  content: "";
  background-color: #f9e7e9;
  @apply absolute w-4 h-4 rounded-full top-1 -left-5;
}

/*REVIEW*/
.review form label {
  @apply w-full mb-5;
}
.review form label input, .review form label textarea {
  @apply w-full border border-solid p-3 mt-3 rounded bg-secondary;
}
.review form label input:focus {
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%) 0% 0%;
  @apply outline-none;
}
.review form .image {
  @apply w-72 border border-solid p-3 rounded bg-secondary;
}
.review .review-content {
  @apply py-12 lg:py-20;
}
.review .review-content .review-content-tag {
  background: transparent linear-gradient(91deg, #e6efff 0%, #f0eafd 100%) 0% 0%;
  @apply w-14 md:w-20 h-14 md:h-20 rounded-2xl flex items-center justify-center;
}
/*MAKE AN APPOINTMENT DETAILS*/
.appointment form label {
  @apply w-full mb-5 inline-block;
}

.appointment form label input, .appointment form label textarea {
  @apply w-full border border-solid p-3 mt-3 rounded bg-secondary;
}
.appointment form label input:focus, .appointment form label textarea:focus {
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%) 0% 0%;
  @apply outline-none;
}
/*CONFORMATION*/
.conformation .conformation-icon {
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%) 0% 0%;
}
/* single company page  */
.single-company-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}
.banner-logo {
  padding: 45px;
  background: transparent linear-gradient(90deg, #0069ff 0%, #7c3aed 100%);
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  bottom: -50%;
  left: 30px;
  transform: translateY(-50%);
}
.banner-logo img {
  width: 71px;
  height: 71px;
}

.single-consultants .banner-logo {
  padding: 5px;
}

.single-consultants .banner-logo img {
  width: 150px;
  height: 150px;
}

/* Overview section  */
.overview-link .icon {
  padding: 22px;
  background: transparent linear-gradient(90deg, #e6efff 0%, #f0eafd 100%);
  border-radius: 10px;
}
.stock-img {
  position: relative;
}
.stock-img::before {
  content: "";
  height: 70%;
  width: 75%;
  background: transparent linear-gradient(90deg, #0069ff 0%, #7c3aed 100%);
  border-radius: 35px;
  position: absolute;
  top: -20px;
  left: -20px;
}
.arrow-icon-position {
  right: -35px;
  bottom: 12%;
}

.single-company-swiper-nav.swiper-button-prev,
.single-company-swiper-nav.swiper-button-next {
  @apply w-9 h-9 p-2 bg-primary;
}

.single-company-swiper-nav.swiper-button-prev:after,
.single-company-swiper-nav.swiper-button-next:after {
  @apply text-base sm:text-xl text-white;
}

.single-company-swiper-nav.swiper-button-prev {
  @apply rounded-tl-lg rounded-bl-lg right-0 left-auto top-auto;
  bottom: 12%;
}

.single-company-swiper-nav.swiper-button-next {
  @apply rounded-tr-lg rounded-br-lg top-auto left-auto;
  bottom: 12%;
  right: -36px;
}
.other-skills ul {
  @apply flex flex-wrap gap-3 lg:gap-5 mt-8;
}

.other-skills ul li {
  @apply uppercase py-2 px-4 lg:px-6 bg-primary rounded text-white text-base lg:text-lg;
}

.portfolio {
  background: transparent linear-gradient(90deg, #0069ff 0%, #7c3aed 100%);
  @apply mt-10 md:mt-28 lg:mt-32 mb-10 md:mb-15 lg:mb-20 rounded-2xl pt-5 md:pt-10 lg:pt-15 pb-5 md:pb-15 lg:pb-20 px-4 md:px-8 relative;
}

.portfolio .portfolio-item {
  @apply bg-white p-4 pb-5 rounded-2xl;
}
.portfolio .portfolio-item .portfolio-item-content {
  @apply relative;
}
.portfolio .portfolio-item .portfolio-item-content::before {
  @apply absolute w-1 top-0 left-0 h-full;
  content: "";
  background: transparent linear-gradient(0deg, #0069ff 0%, #7c3aed 100%);
  opacity: 0.1;
}

.portfolio-nav.swiper-button-prev,
.portfolio-nav.swiper-button-next {
  @apply w-9 h-9 p-2 bg-white;
}

.portfolio-nav.swiper-button-prev:after,
.portfolio-nav.swiper-button-next:after {
  @apply text-xl text-primary font-bold;
}

.portfolio-nav.swiper-button-prev {
  @apply rounded right-20 left-auto top-10  md:top-20 lg:top-28;
}
.portfolio-nav.swiper-button-next {
  @apply rounded left-auto right-8 top-10 md:top-20 lg:top-28;
}

.certification .overview-link .icon {
  padding: 27px;
  background: #fbfbfb;
  border: 1px solid #7070701a;
}
.certification .overview-link {
  border: 1px solid #7070701a;
}
.single-consultants .stock-img::before {
  background: #e2edfc;
}

/* footer section  */
.footer {
  @apply border-t-2 border-solid pt-4 pb-3;
  margin-top: 75px;
}
.footer p {
  font-size: 14px;
  @apply text-dark-secondary;
}

@media screen and (max-width: 640px) {
  .button-primary {
    padding: 14px 70px 14px 25px;
  }
  .button-primary .button-icon {
    @apply p-4;
  }
  .button-secondary {
    padding: 14px 30px;
  }
  .button-tartary {
    padding: 14px 30px;
  }
  .banner-logo {
    padding: 30px;
    transform: translateY(-70%);
  }
}
